<html>
    <head>
        {{>header title=tableType}}
    </head>
    <body>
        <nav>
            <ul style="list-style-type: none;padding: 0;list-style-type: none;margin: 0;overflow: hidden;background-color: #480200;" class="navigation_bar" id="navbar">
                <li style="float: left;"><a style="display: block;color: #eed3b3;text-align: center;padding: 14px 16px;text-decoration: none;" onMouseOver="this.style.backgroundColor='#111'" onMouseOut="this.style.backgroundColor='#480200'" href="/">Home</a></li>
                <li style="float: left;"><a style="display: block;color: #eed3b3;text-align: center;padding: 14px 16px;text-decoration: none;" onMouseOver="this.style.backgroundColor='#111'" onMouseOut="this.style.backgroundColor='#480200'" href="/act-runs">Act Run</a></li>
                <li style="float: left;"><a style="display: block;color: #eed3b3;text-align: center;padding: 14px 16px;text-decoration: none;" onMouseOver="this.style.backgroundColor='#111'" onMouseOut="this.style.backgroundColor='#480200'" href="/acts">Acts</a></li>
                <li style="float: left;"><a style="display: block;color: #eed3b3;text-align: center;padding: 14px 16px;text-decoration: none;" onMouseOver="this.style.backgroundColor='#111'" onMouseOut="this.style.backgroundColor='#480200'" href="/classes">Classes</a></li>
                <li style="float: left;"><a style="display: block;color: #eed3b3;text-align: center;padding: 14px 16px;text-decoration: none;" onMouseOver="this.style.backgroundColor='#111'" onMouseOut="this.style.backgroundColor='#480200'" href="/players">Players</a></li>
                <li style="float: left;"><a style="display: block;color: #eed3b3;text-align: center;padding: 14px 16px;text-decoration: none;" onMouseOver="this.style.backgroundColor='#111'" onMouseOut="this.style.backgroundColor='#480200'" href="/platforms">Platforms</a></li>
            </ul>
        </nav>
        {{{body}}}
    </body>
</html>
