<main class="home-page">
    <div class="title-container">
        <h1>Diablo 3 Speedrunning</h1>
    </div>
    <div class="home-body">
        <p>
            In the world of video gamers there is an upper echelon of elite players who strive to be the best amongst
            the rest.  With sports, this can be determined with tournaments and number of wins and some kinds of video
            games can achieve the same determination with tournaments and such.  This is a specific category that has
            developed its own area of recognition known as speed running.  Speed running is the act of playing through
            a video game as fast as a person possibly can and timing the whole experience.  The people with the best
            time in a specific video game can be considered the best in the world.
        </p>
        <p>
            The video game Diablo 3 consists of 5 acts or sections each of which can take a different amounts of time
            to complete. This site uses a database which records all completion times for each act of the game. More
            specifically, the database records the player who completed the act, the character class used by the player,
            the platform on which the game was played, the time taken to complete the act, and the date the act was
            completed by the player, for each act of the game. The entire point of this database is to take these
            act runs and rank them based on the time it took to complete them with the best time being at the top.
            This will help determine who is the best player at completing that specific act of the game.  Thus solving
            the eternal question of who is the best speed runner of Diablo 3.
        </p>
    </div>

</main>
